fastapi==0.120.1
uvicorn[standard]==0.38.0
python-dotenv==1.2.1
pydantic==2.12.3
python-jose[cryptography]==3.5.0
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0
python-multipart==0.0.20
email-validator==2.3.0
requests==2.32.5
pillow==12.0.0
wordcloud==1.9.4

# Google Cloud
google-cloud-firestore==2.21.0
google-cloud-storage==3.4.1
google-auth==2.42.1

# PDF generation
reportlab==4.4.4
PyMuPDF==1.26.5

# Data processing
numpy==2.3.4
pandas==2.3.3