fastapi
uvicorn
pillow
python-multipart
python-jose
passlib[bcrypt]
google-cloud-storage
google-cloud-firestore
python-dotenv
PyMuPDF
reportlab
requests
numpy
pandas
matplotlib
wordcloud
transformers==4.36.2
torch==2.2.0+cpu
torchvision==0.17.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
